language: ruby
rvm:
  - 2.1

install: gem install jekyll html-proofer
script: jekyll build && htmlproofer ./_site

branches:
  only:
    - gh-pages
    - /pages-(.*)/

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true


sudo: false
