language: ruby
rvm:
  - 2.1

before_script:
  - chmod +x ./script/cibuid

script: ./script/cibuild

branches:
  only:
    - gh-pages
    - /pages-(.*)/

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true


sudo: false
