---
layout: default
---

<div>
	<header>
		<p>{{ page.date | date: '%B %-d, %Y' }}</p>
		{% include reading-time.html %}
		<h1>{{ page.title }}</h1>
		<hr>
	</header>
	<div data-txt="{{page.layout}}.{{page.class}}" >
		{% include toc.html html=content %}
		{{ content }}
	</div>

	<hr>

	<p>
		<i>You might also like...</i> <br>

		{% for post in site.posts %}
			{% if page.title != post.title %}
				<a href="{{ post.url }}">{{ post.title }}</a><br>
			{% endif %}
		{% endfor%}
	</p>

	<script src="https://utteranc.es/client.js"
        repo="aadeshere1/aadeshere1.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
	</script>
</div>
