---
layout: default
---

	<div id="post_show_content" class="skinny_wrapper wrapper_padding">
		<header>
			<p class="date">{{ page.date | date: '%B %-d, %Y' }}</p>
			<h1>{{ page.title }}</h1>
			<hr>
		</header>

		<div id="content">
			{{ content }}
		</div>
		<hr>


		<p>
			<i>You might also like...</i> <br>

		{% for post in site.posts %}
			{% if page.title != post.title %}
				<a href="{{ post.url }}">{{ post.title }}</a><br>
			{% endif %}
		{% endfor%}
	</p>
<!--
		<div id="share_box">
			<p>Share The Do List</p>
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:4000/{{ page.url }}"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google"></i></a>
		</div> -->

		<!-- <hr> -->
	</div>
